backups
.tutor
auto-save-list
games
elpa/
/smex-items
/ac-comphist.dat
*~
*#
*.elc
*.DS_Store
/.places
/recentf
/ido.last
xkcd/
.python-environments/
var/
/.mc-lists.el
/projectile-bookmarks.eld
/TODO
